/* styles */

* { 
    background-color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: red;
    font-style:oblique;
}

h2 {
    color: green;
    font-style: italic;
}

ul, p,ol {
    color:blueviolet;
}